<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 给予存储权限  -->
<!--    &lt;!&ndash; Required only if your app needs to access images or photos-->
<!--         that other apps created. &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->

<!--    &lt;!&ndash; Required only if your app needs to access videos-->
<!--         that other apps created. &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />-->

<!--    &lt;!&ndash; Required only if your app needs to access audio files-->
<!--         that other apps created. &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />-->

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APlayer"
        android:requestLegacyExternalStorage="true"
        >
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>